A continuación se presenta el listado de las empresas más grandes del mundo, en términos de 4 criterios: ventas, utilidades, activos y valor de mercado

In [145]:
import pandas as pd
import numpy as pd
import re
import os

In [105]:
os.chdir(r'C:\Users\Home\Documents\Laboral2020\Konrad Lorenz\Datos Estructurados y No estructurados\clase1')
os.listdir()

['forbes2000.xlsx']

In [106]:
forbes = pd.read_excel('forbes2000.xlsx')

In [107]:
forbes.head()

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado
0,1,ICBC,China,175900.0,45200.0,4034500.0,305100
1,2,JPMorgan Chase,United States,132900.0,32700.0,2737200.0,368500
2,3,China Construction Bank,China,150300.0,38800.0,3382400.0,225000
3,4,Agricultural Bank of China,China,137500.0,30900.0,3293100.0,197000
4,5,Bank of America,United States,111900.0,28500.0,2377200.0,287300

In [108]:
forbes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
Rank             2000 non-null int64
Company Name     2000 non-null object
Country          2000 non-null object
ventas           1998 non-null float64
utilidades       1999 non-null float64
activos          1995 non-null float64
valor_mercado    2000 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 109.5+ KB

Se revisará la unicidad de la base de datos (es decir que no hayn empresas repetidas):

In [109]:
# Identificar los duplicados 
bool_series = forbes["Company Name"].duplicated()
bool_series.value_counts()

False    2000
Name: Company Name, dtype: int64

Contar cuantas empresas hay en total y cuantas hay por país con su respectivo porcentaje:

In [110]:
forbes.shape

(2000, 7)

In [111]:
tablaFrec = pd.DataFrame(forbes['Country'].value_counts())

In [112]:
tablaFrec['FrecRelativa'] = round(100 * tablaFrec['Country'] / sum(tablaFrec['Country']),1)

In [113]:
tablaFrec['FrecRelativaAcum'] = tablaFrec['FrecRelativa'].cumsum()

In [114]:
tablaFrec

                      Country  FrecRelativa  FrecRelativaAcum
United States             576          28.8              28.8
China                     251          12.6              41.4
Japan                     223          11.2              52.6
United Kingdom             83           4.2              56.8
South Korea                62           3.1              59.9
Hong Kong                  58           2.9              62.8
France                     57           2.8              65.6
India                      57           2.8              68.4
Canada                     56           2.8              71.2
Germany                    52           2.6              73.8
Taiwan                     47           2.4              76.2
Switzerland                41           2.0              78.2
Australia                  37           1.8              80.0
Italy                      27           1.4              81.4
Sweden                     26           1.3              82.7
Netherlands                25           1.2              83.9
Russia                     22           1.1              85.0
Spain                      22           1.1              86.1
Brazil                     20           1.0              87.1
Ireland                    18           0.9              88.0
Thailand                   15           0.8              88.8
Saudi Arabia               15           0.8              89.6
Mexico                     13           0.6              90.2
Singapore                  13           0.6              90.8
Denmark                    13           0.6              91.4
South Africa               12           0.6              92.0
Belgium                    10           0.5              92.5
Turkey                      9           0.4              92.9
Finland                     9           0.4              93.3
Israel                      9           0.4              93.7
Malaysia                    9           0.4              94.1
United Arab Emirates        9           0.4              94.5
Austria                     9           0.4              94.9
Norway                      8           0.4              95.3
Chile                       8           0.4              95.7
Luxembourg                  7           0.4              96.1
Poland                      7           0.4              96.5
Indonesia                   6           0.3              96.8
Philippines                 6           0.3              97.1
Qatar                       6           0.3              97.4
Colombia                    6           0.3              97.7
Greece                      4           0.2              97.9
Bermuda                     4           0.2              98.1
Kuwait                      4           0.2              98.3
Portugal                    4           0.2              98.5
Vietnam                     4           0.2              98.7
Morocco                     3           0.2              98.9
Lebanon                     2           0.1              99.0
Hungary                     2           0.1              99.1
Nigeria                     2           0.1              99.2
Peru                        2           0.1              99.3
Argentina                   2           0.1              99.4
Jordan                      1           0.0              99.4
Bahrain                     1           0.0              99.4
Monaco                      1           0.0              99.4
Czech Republic              1           0.0              99.4
Kenya                       1           0.0              99.4
Egypt                       1           0.0              99.4
Kazakhstan                  1           0.0              99.4
Oman                        1           0.0              99.4

¿Cuáles son las empresas colombianas en el listado Forbes 2000?

Se usará el método query para hacer filtros de una variables en este caso, se selecciona el país Colombia

In [115]:
forbes.query("Country == 'Colombia'")

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado
299,300,Ecopetrol,Colombia,21900.0,3900.0,38900.0,39500
672,673,Grupo Aval,Colombia,11300.0,985.0,80000.0,9100
731,732,Bancolombia,Colombia,7200.0,899.0,67800.0,12500
1610,1611,Banco Davivienda,Colombia,3800.0,470.0,34100.0,5700
1755,1756,Grupo Bolivar,Colombia,5000.0,359.0,38400.0,1300
1921,1922,Grupo De Inversiones Suramericana,Colombia,4000.0,421.0,21900.0,6500

Empresas en EE.UU o China:

In [116]:
forbes.query("Country == 'China' | Country == 'United States'")

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado
0,1,ICBC,China,175900.0,45200.0,4034500.0,305100
1,2,JPMorgan Chase,United States,132900.0,32700.0,2737200.0,368500
2,3,China Construction Bank,China,150300.0,38800.0,3382400.0,225000
3,4,Agricultural Bank of China,China,137500.0,30900.0,3293100.0,197000
4,5,Bank of America,United States,111900.0,28500.0,2377200.0,287300
5,6,Apple,United States,261700.0,59400.0,373700.0,961300
6,7,Ping An Insurance Group,China,151800.0,16300.0,1038300.0,220200
7,8,Bank of China,China,126700.0,27500.0,3097600.0,143000
9,10,Wells Fargo,United States,101500.0,23100.0,1887800.0,214700
10,11,ExxonMobil,United States,279200.0,20800.0,346200.0,343400
11,12,AT&T,United States,170800.0,19400.0,531900.0,233300
13,14,Citigroup,United States,100000.0,17900.0,1958400.0,161100
15,16,Microsoft,United States,118200.0,33500.0,258900.0,946500
16,17,Alphabet,United States,137000.0,30700.0,232800.0,863200
18,19,Chevron,United States,158700.0,14800.0,253900.0,228300
19,20,Verizon Communications,United States,130900.0,15500.0,264800.0,239700
21,22,PetroChina,China,322800.0,8000.0,354300.0,198700
25,26,Berkshire Hathaway,United States,247800.0,4000.0,707800.0,516400
27,28,Amazon,United States,232900.0,10100.0,162600.0,916100
28,29,Walmart,United States,514400.0,6700.0,219300.0,296100
30,31,China Merchants Bank,China,54900.0,12300.0,982500.0,130400
31,32,UnitedHealth Group,United States,231400.0,12600.0,161200.0,212800
32,33,Comcast,United States,94500.0,11700.0,251700.0,192000
34,35,Sinopec,China,399700.0,9500.0,233000.0,105600
37,38,Johnson & Johnson,United States,81600.0,14700.0,153000.0,366200
38,39,Bank of Communications,China,64800.0,11200.0,1388200.0,63600
43,44,Intel,United States,70800.0,21100.0,128000.0,263100
44,45,Goldman Sachs Group,United States,51000.0,9900.0,925000.0,75500
47,48,Morgan Stanley,United States,50900.0,8500.0,876000.0,80200
48,49,Boeing,United States,101100.0,10500.0,117400.0,214500
...,...,...,...,...,...,...,...
1913,1914,Western Alliance Bancorp.,United States,1100.0,436.0,23200.0,4700
1915,1916,Cimarex Energy,United States,2300.0,781.0,6100.0,7000
1916,1917,VICI Properties,United States,898.0,524.0,11300.0,8900
1919,1920,BJ's Wholesale Club,United States,13000.0,127.0,3200.0,3900
1923,1924,IBERIABANK,United States,1400.0,367.0,30800.0,4100
1925,1926,China Petroleum Engineering,China,8900.0,102.0,14000.0,4100
1932,1933,Want Want China,China,3100.0,491.0,4000.0,9900
1933,1934,F5 Networks,United States,2200.0,496.0,2900.0,9700
1935,1936,Vipshop Holdings,China,12800.0,323.0,6300.0,4600
1936,1937,Keysight Technologies,United States,4000.0,185.0,6000.0,16900
1937,1938,iQIYI,China,3800.0,-1400.0,6500.0,16900
1938,1939,Tongling Nonferrous Metals,China,12700.0,107.0,6800.0,4200
1947,1948,Jointown Pharmaceutical Group,China,12700.0,193.0,8800.0,4300
1950,1951,Lyft,United States,2200.0,-911.0,3800.0,16700
1952,1953,Sunny Optical Technology Group,China,3900.0,376.0,3300.0,13900
1954,1955,Sichuan Changhong Electric,China,12500.0,50.0,10400.0,2500
1955,1956,Wintrust Financial,United States,1600.0,350.0,32400.0,4300
1958,1959,AAC Technologies Holdings,China,2700.0,573.0,4400.0,8400
1959,1960,Associated Banc-Corp,United States,1500.0,332.0,33800.0,3700
1967,1968,Sumec Corporation,China,12400.0,69.0,6200.0,1400
1971,1972,Digital China Group,China,12400.0,77.0,3800.0,1500
1973,1974,AVIC International Holdings,China,8200.0,-85.0,14800.0,809
1975,1976,Booz Allen Hamilton Holding,United States,6600.0,412.0,3800.0,8000
1983,1984,CBOE Global Markets,United States,2800.0,422.0,5300.0,11300
1989,1990,Bank OZK,United States,1200.0,415.0,23000.0,4000
1991,1992,Snap,United States,1200.0,-1300.0,2700.0,15900
1994,1995,IDEX,United States,2500.0,411.0,3500.0,11700
1996,1997,Bed Bath & Beyond,United States,12000.0,-137.0,6600.0,2300
1997,1998,Incyte,United States,1900.0,109.0,2600.0,15800
1999,2000,JC Penney,United States,12000.0,-255.0,7900.0,402

Otra forma de realizar el mismo filtro es hacer uso de la función iloc, esta función no sólo permite hacer selecciones de filas sino también de columnas, como se verá más adelante. Para seleccionar a las empresas Chinas o Estadounidenses:

In [117]:
#forbes.loc[forbes['Country'] == 'China' | forbes['Country'] == 'United States' , ] # No funciona sin paréntesis
forbes.loc[(forbes['Country'] == 'China') | (forbes['Country'] == 'United States') , ]

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado
0,1,ICBC,China,175900.0,45200.0,4034500.0,305100
1,2,JPMorgan Chase,United States,132900.0,32700.0,2737200.0,368500
2,3,China Construction Bank,China,150300.0,38800.0,3382400.0,225000
3,4,Agricultural Bank of China,China,137500.0,30900.0,3293100.0,197000
4,5,Bank of America,United States,111900.0,28500.0,2377200.0,287300
5,6,Apple,United States,261700.0,59400.0,373700.0,961300
6,7,Ping An Insurance Group,China,151800.0,16300.0,1038300.0,220200
7,8,Bank of China,China,126700.0,27500.0,3097600.0,143000
9,10,Wells Fargo,United States,101500.0,23100.0,1887800.0,214700
10,11,ExxonMobil,United States,279200.0,20800.0,346200.0,343400
11,12,AT&T,United States,170800.0,19400.0,531900.0,233300
13,14,Citigroup,United States,100000.0,17900.0,1958400.0,161100
15,16,Microsoft,United States,118200.0,33500.0,258900.0,946500
16,17,Alphabet,United States,137000.0,30700.0,232800.0,863200
18,19,Chevron,United States,158700.0,14800.0,253900.0,228300
19,20,Verizon Communications,United States,130900.0,15500.0,264800.0,239700
21,22,PetroChina,China,322800.0,8000.0,354300.0,198700
25,26,Berkshire Hathaway,United States,247800.0,4000.0,707800.0,516400
27,28,Amazon,United States,232900.0,10100.0,162600.0,916100
28,29,Walmart,United States,514400.0,6700.0,219300.0,296100
30,31,China Merchants Bank,China,54900.0,12300.0,982500.0,130400
31,32,UnitedHealth Group,United States,231400.0,12600.0,161200.0,212800
32,33,Comcast,United States,94500.0,11700.0,251700.0,192000
34,35,Sinopec,China,399700.0,9500.0,233000.0,105600
37,38,Johnson & Johnson,United States,81600.0,14700.0,153000.0,366200
38,39,Bank of Communications,China,64800.0,11200.0,1388200.0,63600
43,44,Intel,United States,70800.0,21100.0,128000.0,263100
44,45,Goldman Sachs Group,United States,51000.0,9900.0,925000.0,75500
47,48,Morgan Stanley,United States,50900.0,8500.0,876000.0,80200
48,49,Boeing,United States,101100.0,10500.0,117400.0,214500
...,...,...,...,...,...,...,...
1913,1914,Western Alliance Bancorp.,United States,1100.0,436.0,23200.0,4700
1915,1916,Cimarex Energy,United States,2300.0,781.0,6100.0,7000
1916,1917,VICI Properties,United States,898.0,524.0,11300.0,8900
1919,1920,BJ's Wholesale Club,United States,13000.0,127.0,3200.0,3900
1923,1924,IBERIABANK,United States,1400.0,367.0,30800.0,4100
1925,1926,China Petroleum Engineering,China,8900.0,102.0,14000.0,4100
1932,1933,Want Want China,China,3100.0,491.0,4000.0,9900
1933,1934,F5 Networks,United States,2200.0,496.0,2900.0,9700
1935,1936,Vipshop Holdings,China,12800.0,323.0,6300.0,4600
1936,1937,Keysight Technologies,United States,4000.0,185.0,6000.0,16900
1937,1938,iQIYI,China,3800.0,-1400.0,6500.0,16900
1938,1939,Tongling Nonferrous Metals,China,12700.0,107.0,6800.0,4200
1947,1948,Jointown Pharmaceutical Group,China,12700.0,193.0,8800.0,4300
1950,1951,Lyft,United States,2200.0,-911.0,3800.0,16700
1952,1953,Sunny Optical Technology Group,China,3900.0,376.0,3300.0,13900
1954,1955,Sichuan Changhong Electric,China,12500.0,50.0,10400.0,2500
1955,1956,Wintrust Financial,United States,1600.0,350.0,32400.0,4300
1958,1959,AAC Technologies Holdings,China,2700.0,573.0,4400.0,8400
1959,1960,Associated Banc-Corp,United States,1500.0,332.0,33800.0,3700
1967,1968,Sumec Corporation,China,12400.0,69.0,6200.0,1400
1971,1972,Digital China Group,China,12400.0,77.0,3800.0,1500
1973,1974,AVIC International Holdings,China,8200.0,-85.0,14800.0,809
1975,1976,Booz Allen Hamilton Holding,United States,6600.0,412.0,3800.0,8000
1983,1984,CBOE Global Markets,United States,2800.0,422.0,5300.0,11300
1989,1990,Bank OZK,United States,1200.0,415.0,23000.0,4000
1991,1992,Snap,United States,1200.0,-1300.0,2700.0,15900
1994,1995,IDEX,United States,2500.0,411.0,3500.0,11700
1996,1997,Bed Bath & Beyond,United States,12000.0,-137.0,6600.0,2300
1997,1998,Incyte,United States,1900.0,109.0,2600.0,15800
1999,2000,JC Penney,United States,12000.0,-255.0,7900.0,402

Otra función relevante para llevar a cabo procesamiento de datos, es la función assign, esta función permite crear nuevas variables (features) a partir de variables existentes en la base de datos. Calculemos el cociente entre los activos y la valoración de marca:

In [122]:
#forbes['Activos_ValorMarca'] = forbes['activos'] / forbes['valor_mercado']
# Antes debemos volver las variables numéricas
forbes['activos'] = pd.to_numeric(forbes['activos'])
forbes['Activos_ValorMarca'] = forbes['activos'] / forbes['valor_mercado']

In [125]:
forbes.describe()

,Rank,ventas,utilidades,activos,valor_mercado,Activos_ValorMarca
count,2000.000000,1998.000000,1999.000000,1.995000e+03,2000.000000,1995.000000
mean,1000.500000,20600.278779,1704.337169,9.358301e+04,28408.018500,18.431190
std,577.494589,35457.852103,3725.165364,2.849517e+05,60026.101772,490.174759
min,1.000000,-9100.000000,-22400.000000,1.500000e+03,9.000000,0.079341
25%,500.750000,4725.000000,420.500000,1.205000e+04,6875.000000,0.810777
50%,1000.500000,10300.000000,776.000000,2.630000e+04,13400.000000,1.934066
75%,1500.250000,20575.000000,1700.000000,6.100000e+04,27500.000000,5.400000
max,2000.000000,514400.000000,59400.000000,4.034500e+06,961300.000000,21833.333333

In [ ]:
Otra forma de crar nuevas variables es con la función assign

In [126]:
del(forbes['Activos_ValorMarca'])

In [128]:
forbes.head()

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado
0,1,ICBC,China,175900.0,45200.0,4034500.0,305100
1,2,JPMorgan Chase,United States,132900.0,32700.0,2737200.0,368500
2,3,China Construction Bank,China,150300.0,38800.0,3382400.0,225000
3,4,Agricultural Bank of China,China,137500.0,30900.0,3293100.0,197000
4,5,Bank of America,United States,111900.0,28500.0,2377200.0,287300

In [134]:
forbes = forbes.assign(Activos_ValorMarca = forbes['activos'] / forbes['valor_mercado'], lista = 'forbes2000')

In [135]:
forbes.head()

,Rank,Company Name,Country,ventas,utilidades,activos,valor_mercado,Activos_ValorMarca,lista
0,1,ICBC,China,175900.0,45200.0,4034500.0,305100,13.223533,forbes2000
1,2,JPMorgan Chase,United States,132900.0,32700.0,2737200.0,368500,7.427951,forbes2000
2,3,China Construction Bank,China,150300.0,38800.0,3382400.0,225000,15.032889,forbes2000
3,4,Agricultural Bank of China,China,137500.0,30900.0,3293100.0,197000,16.716244,forbes2000
4,5,Bank of America,United States,111900.0,28500.0,2377200.0,287300,8.274278,forbes2000

Estadísticas resumen

Promedio de las valoraciones de marca:

In [139]:
forbes.agg({'valor_mercado': 'mean'})

valor_mercado    28408.0185
dtype: float64

Se pueden promediar sacar estadísticas sobre una variable:

In [155]:
forbes.agg(
    {
         'activos':'mean',   
         'valor_mercado': 'median'}
)

activos          93583.007519
valor_mercado    13400.000000
dtype: float64

In [156]:
forbes.groupby('Country').agg({'activos': ['mean', 'min', 'max'], 'valor_mercado': ['mean', 'min', 'max']})

                            activos                     valor_mercado         \
                               mean      min        max          mean    min
Country
Argentina              14300.000000   2200.0    26400.0  14100.000000   6000
Australia              94981.081081   3700.0   690200.0  23381.081081   2600
Austria                73400.000000  13300.0   271500.0   9200.000000   3300
Bahrain                35500.000000  35500.0    35500.0   7400.000000   7400
Belgium                93660.000000   4800.0   324400.0  28270.900000      9
Bermuda                47875.000000  10000.0   125500.0  12150.000000   8600
Brazil                 82435.000000   7900.0   383200.0  24115.000000   1800
Canada                118957.142857   1800.0  1040300.0  25073.875000    837
Chile                  33325.000000  15000.0    60100.0   8225.000000   4500
China                 141572.400000   1600.0  4034500.0  25909.996016    809
Colombia               46850.000000  21900.0    80000.0  12433.333333   1300
Czech Republic         32300.000000  32300.0    32300.0  12600.000000  12600
Denmark                66158.333333   1900.0   548200.0  23146.153846   3200
Egypt                  19100.000000  19100.0    19100.0   6200.000000   6200
Finland                21000.000000   4900.0    56100.0  19255.555556   5600
France                183751.785714   3900.0  2333000.0  32430.877193    260
Germany               130294.230769   3700.0  1541100.0  27858.115385    922
Greece                 70275.000000  66300.0    74400.0   1818.250000    873
Hong Kong              57372.413793   3400.0   978500.0  21841.379310   1500
Hungary                34200.000000  16400.0    52000.0   9700.000000   7400
India                  52369.090909   2100.0   536700.0  19340.473684    707
Indonesia              51000.000000   4800.0    90200.0  27533.333333  10800
Ireland                40355.555556   7900.0   141400.0  30150.000000   2400
Israel                 61888.888889   5800.0   123300.0   7500.000000   1100
Italy                 157166.666667   3400.0   950500.0  14940.740741   1300
Japan                  96268.609865   4600.0  2799900.0  15247.192825    352
Jordan                 36000.000000  36000.0    36000.0   5400.000000   5400
Kazakhstan             23500.000000  23500.0    23500.0   3300.000000   3300
Kenya                   2000.000000   2000.0     2000.0  11000.000000  11000
Kuwait                 49425.000000  14800.0    90200.0  10800.000000   1000
Lebanon                42000.000000  36800.0    47200.0   1900.000000   1800
Luxembourg             23385.714286   5000.0    91200.0  13800.000000   5300
Malaysia               71344.444444   9000.0   195300.0  12622.222222   3300
Mexico                 27084.615385   7000.0    82700.0  16084.615385   5500
Monaco                 18800.000000  18800.0    18800.0  12600.000000  12600
Morocco                33733.333333   6500.0    53300.0   9033.333333   5000
Netherlands           118624.000000   2100.0  1014000.0  40297.760000    544
Nigeria                10550.000000   4700.0    16400.0   5400.000000   1800
Norway                 70612.500000   5900.0   304300.0  23037.500000   4000
Oman                   31900.000000  31900.0    31900.0   3200.000000   3200
Peru                   37400.000000  22200.0    52600.0  12400.000000   6300
Philippines            31216.666667  14700.0    57500.0  10000.000000   1700
Poland                 40242.857143   5900.0    87100.0   8571.428571   4100
Portugal               39125.000000   7600.0    86800.0  10400.000000   4200
Qatar                  64133.333333  10200.0   242300.0  16100.000000   5300
Russia                 74518.181818   5900.0   449700.0  22986.363636   1400
Saudi Arabia           54080.000000   2500.0   123800.0  27746.666667   4800
Singapore              98046.153846   1700.0   404200.0  17216.461538    914
South Africa           52958.333333   3600.0   147900.0  21533.333333   7000
South Korea            71900.000000   3300.0   431200.0  13834.854839    961
Spain                 190750.000000  11700.0  1668200.0  25636.363636   1400
Sweden                 71784.615385   4100.0   630600.0  18203.846154   5800
Switzerland            96470.731707   2100.0   958500.0  36204.658537    391
Taiwan                 51121.276596   4000.0   299900.0  14534.957447    443
Thailand               39526.666667   5800.0    97900.0  15033.333333   2000
Turkey                 57333.333333   7900.0   105500.0   4277.777778   1300
United Arab Emirates   71022.222222  26500.0   202600.0  17833.333333   3700
United Kingdom        149912.048193   2800.0  2558100.0  27072.144578    488
United States          75063.541667   1500.0  3418300.0  45173.359375     79
Vietnam                41375.000000  12400.0    56600.0   8375.000000   3400


                         max
Country
Argentina              22200
Australia             138300
Austria                18200
Bahrain                 7400
Belgium               175700
Bermuda                16400
Brazil                 91200
Canada                114900
Chile                  18300
China                 480800
Colombia               39500
Czech Republic         12600
Denmark               116300
Egypt                   6200
Finland                32300
France                153000
Germany               134900
Greece                  2600
Hong Kong             197600
Hungary                12000
India                 126400
Indonesia              49400
Ireland               113900
Israel                 18700
Italy                  63100
Japan                 176600
Jordan                  5400
Kazakhstan              3300
Kenya                  11000
Kuwait                 19900
Lebanon                 2000
Luxembourg             24800
Malaysia               24000
Mexico                 52400
Monaco                 12600
Morocco                13400
Netherlands           264900
Nigeria                 9000
Norway                 77600
Oman                    3200
Peru                   18500
Philippines            21600
Poland                 12900
Portugal               14100
Qatar                  46400
Russia                 78500
Saudi Arabia          100000
Singapore              51600
South Africa          111300
South Korea           272400
Spain                  98000
Sweden                 36800
Switzerland           281300
Taiwan                222400
Thailand               43800
Turkey                  7400
United Arab Emirates   47800
United Kingdom        175500
United States         961300
Vietnam                14100

In [157]:
forbes.groupby('Country', as_index = True).agg({'activos': ['mean', 'min', 'max'], 'valor_mercado': ['mean', 'min', 'max']})

                            activos                     valor_mercado         \
                               mean      min        max          mean    min
Country
Argentina              14300.000000   2200.0    26400.0  14100.000000   6000
Australia              94981.081081   3700.0   690200.0  23381.081081   2600
Austria                73400.000000  13300.0   271500.0   9200.000000   3300
Bahrain                35500.000000  35500.0    35500.0   7400.000000   7400
Belgium                93660.000000   4800.0   324400.0  28270.900000      9
Bermuda                47875.000000  10000.0   125500.0  12150.000000   8600
Brazil                 82435.000000   7900.0   383200.0  24115.000000   1800
Canada                118957.142857   1800.0  1040300.0  25073.875000    837
Chile                  33325.000000  15000.0    60100.0   8225.000000   4500
China                 141572.400000   1600.0  4034500.0  25909.996016    809
Colombia               46850.000000  21900.0    80000.0  12433.333333   1300
Czech Republic         32300.000000  32300.0    32300.0  12600.000000  12600
Denmark                66158.333333   1900.0   548200.0  23146.153846   3200
Egypt                  19100.000000  19100.0    19100.0   6200.000000   6200
Finland                21000.000000   4900.0    56100.0  19255.555556   5600
France                183751.785714   3900.0  2333000.0  32430.877193    260
Germany               130294.230769   3700.0  1541100.0  27858.115385    922
Greece                 70275.000000  66300.0    74400.0   1818.250000    873
Hong Kong              57372.413793   3400.0   978500.0  21841.379310   1500
Hungary                34200.000000  16400.0    52000.0   9700.000000   7400
India                  52369.090909   2100.0   536700.0  19340.473684    707
Indonesia              51000.000000   4800.0    90200.0  27533.333333  10800
Ireland                40355.555556   7900.0   141400.0  30150.000000   2400
Israel                 61888.888889   5800.0   123300.0   7500.000000   1100
Italy                 157166.666667   3400.0   950500.0  14940.740741   1300
Japan                  96268.609865   4600.0  2799900.0  15247.192825    352
Jordan                 36000.000000  36000.0    36000.0   5400.000000   5400
Kazakhstan             23500.000000  23500.0    23500.0   3300.000000   3300
Kenya                   2000.000000   2000.0     2000.0  11000.000000  11000
Kuwait                 49425.000000  14800.0    90200.0  10800.000000   1000
Lebanon                42000.000000  36800.0    47200.0   1900.000000   1800
Luxembourg             23385.714286   5000.0    91200.0  13800.000000   5300
Malaysia               71344.444444   9000.0   195300.0  12622.222222   3300
Mexico                 27084.615385   7000.0    82700.0  16084.615385   5500
Monaco                 18800.000000  18800.0    18800.0  12600.000000  12600
Morocco                33733.333333   6500.0    53300.0   9033.333333   5000
Netherlands           118624.000000   2100.0  1014000.0  40297.760000    544
Nigeria                10550.000000   4700.0    16400.0   5400.000000   1800
Norway                 70612.500000   5900.0   304300.0  23037.500000   4000
Oman                   31900.000000  31900.0    31900.0   3200.000000   3200
Peru                   37400.000000  22200.0    52600.0  12400.000000   6300
Philippines            31216.666667  14700.0    57500.0  10000.000000   1700
Poland                 40242.857143   5900.0    87100.0   8571.428571   4100
Portugal               39125.000000   7600.0    86800.0  10400.000000   4200
Qatar                  64133.333333  10200.0   242300.0  16100.000000   5300
Russia                 74518.181818   5900.0   449700.0  22986.363636   1400
Saudi Arabia           54080.000000   2500.0   123800.0  27746.666667   4800
Singapore              98046.153846   1700.0   404200.0  17216.461538    914
South Africa           52958.333333   3600.0   147900.0  21533.333333   7000
South Korea            71900.000000   3300.0   431200.0  13834.854839    961
Spain                 190750.000000  11700.0  1668200.0  25636.363636   1400
Sweden                 71784.615385   4100.0   630600.0  18203.846154   5800
Switzerland            96470.731707   2100.0   958500.0  36204.658537    391
Taiwan                 51121.276596   4000.0   299900.0  14534.957447    443
Thailand               39526.666667   5800.0    97900.0  15033.333333   2000
Turkey                 57333.333333   7900.0   105500.0   4277.777778   1300
United Arab Emirates   71022.222222  26500.0   202600.0  17833.333333   3700
United Kingdom        149912.048193   2800.0  2558100.0  27072.144578    488
United States          75063.541667   1500.0  3418300.0  45173.359375     79
Vietnam                41375.000000  12400.0    56600.0   8375.000000   3400


                         max
Country
Argentina              22200
Australia             138300
Austria                18200
Bahrain                 7400
Belgium               175700
Bermuda                16400
Brazil                 91200
Canada                114900
Chile                  18300
China                 480800
Colombia               39500
Czech Republic         12600
Denmark               116300
Egypt                   6200
Finland                32300
France                153000
Germany               134900
Greece                  2600
Hong Kong             197600
Hungary                12000
India                 126400
Indonesia              49400
Ireland               113900
Israel                 18700
Italy                  63100
Japan                 176600
Jordan                  5400
Kazakhstan              3300
Kenya                  11000
Kuwait                 19900
Lebanon                 2000
Luxembourg             24800
Malaysia               24000
Mexico                 52400
Monaco                 12600
Morocco                13400
Netherlands           264900
Nigeria                 9000
Norway                 77600
Oman                    3200
Peru                   18500
Philippines            21600
Poland                 12900
Portugal               14100
Qatar                  46400
Russia                 78500
Saudi Arabia          100000
Singapore              51600
South Africa          111300
South Korea           272400
Spain                  98000
Sweden                 36800
Switzerland           281300
Taiwan                222400
Thailand               43800
Turkey                  7400
United Arab Emirates   47800
United Kingdom        175500
United States         961300
Vietnam                14100